.RG_NEWENTITY_WINDOW {
    position: absolute;
    display: flex;
    flex-direction: column;

    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    z-index: 20;

    /* min-height: 545px; */
    min-width: fit-content;

    background-color: var(--RG_ITEM_GREY);
    box-shadow: 0px 0px 25px 0px black;
    border-radius: 5px;
    
    font-size: larger;
    color: var(--RG_TEXT_GREY);
}

.RG_NEWENTITY_CHUNK {
    padding: 15px;
}

.RG_NEWENTITY_FORMCHUNK {
    display: grid;
    grid-template-columns: auto auto;
}

.RG_NEWENTITY_LABELSIDE {
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.RG_NEWENTITY_INPUTSIDE {
    display: flex;
    align-items: center;
}


.RG_NEWENTITY_APPLY_CHUNK {
    display:flex;
    justify-content: space-between;
}


input, textarea{
    text-indent: 3px;
    background-color: var(--RG_HIGHLIGHT_GREY);
    color: var(--RG_TEXT_GREY);
    accent-color: orange;
}

textarea {
    padding-top: 3px;
}
